In [1]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [2]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [3]:
v_metin = metin.split("\n")

In [69]:
import pandas as pd
v = pd.Series(v_metin)

In [70]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [71]:
metin_vector = v[1:len(v)] # vekötğrleştirmiş olduk.

In [72]:
metin_vector

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [73]:
mdf = pd.DataFrame(metin_vector, columns = ["stories"])

In [74]:
mdf

                                  stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [75]:
# Büyük-Küçük Harf Dönüşüm

In [76]:
d_mdf = mdf.copy()

In [77]:
d_mdf

                                  stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [78]:
list1 = [1,2,3]

In [79]:
str1 = " ".join(str(i) for i in list1)

In [80]:
str1 # elemanları birleşitirmiş oldu.

'1 2 3'

In [81]:
d_mdf["stories"].apply(lambda x: " ".join(x.lower()  for x in x.split())) 
# hepsini küçük harfe çevirip, aralarındaki boşluğa göre ayırıp sonra tek tek birleştirdi.

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: stories, dtype: object

In [82]:
d_mdf = d_mdf["stories"].apply(lambda x: " ".join(x.lower()  for x in x.split()))

In [83]:
# Noktalama İşaretlerinin Silinmesi

In [84]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: stories, dtype: object

In [85]:
d_mdf= d_mdf.str.replace("[^\w\s]","")

C:\Users\90531\AppData\Local\Temp\ipykernel_19464\2005145855.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf= d_mdf.str.replace("[^\w\s]","")

In [86]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: stories, dtype: object

In [87]:
# Sayıların Silinmesi

In [88]:
d_mdf.str.replace("\d","")

C:\Users\90531\AppData\Local\Temp\ipykernel_19464\1063948677.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf.str.replace("\d","")

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: stories, dtype: object

In [89]:
# Stopwords

In [90]:
d_mdf = pd.DataFrame(d_mdf, columns =["stories"])

In [91]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\90531\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\90531\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: click in c:\users\90531\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\90531\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\users\90531\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: colorama in c:\users\90531\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [92]:
import nltk

In [93]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\90531\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [94]:
from nltk.corpus import stopwords

In [95]:
sw = stopwords.words("english")

In [96]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [103]:
d_mdf = d_mdf["stories"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [104]:
d_mdf

1            scandal bohemia 01
2             redheaded league2
3              case identity 33
4      boscombe valley mystery4
5             five orange pips1
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: stories, dtype: object

In [105]:
# Az geçen kelimelerin silinmesi

In [106]:
type(d_mdf)

pandas.core.series.Series

In [107]:
d_mdf = pd.DataFrame(d_mdf, columns = ["stories"])

In [109]:
pd.Series(" ".join(d_mdf["stories"]).split()).value_counts()
# split'in çıktısı liste, hata vermemesi için seriye çevirmek gerekiyor

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips1        1
orange       1
five         1
mystery4     1
valley       1
boscombe     1
33           1
identity     1
case         1
league2      1
redheaded    1
01           1
beeches      1
dtype: int64

In [111]:
delete = pd.Series(" ".join(d_mdf["stories"]).split()).value_counts()[-3:]
# diyelim ki bunları silmek istiyoruz

In [113]:
delete

redheaded    1
01           1
beeches      1
dtype: int64

In [ ]:
d_mdf["stories"].apply(lambda x: " ".join(x for x in x.split() if x not in delete))

In [116]:
# Tokenization -> cümlenin içindeki kelimeleri ayırıp yeni bir vektör(liste) oluşturmak.

In [117]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\90531\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [118]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
     -------------------------------------- 624.3/624.3 kB 3.3 MB/s eta 0:00:00
Collecting nltk>=3.9
  Downloading nltk-3.9.2-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 6.0 MB/s eta 0:00:00
Requirement already satisfied: joblib in c:\users\90531\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.1.1)
Requirement already satisfied: tqdm in c:\users\90531\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.64.1)
Requirement already satisfied: click in c:\users\90531\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\90531\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: colorama in c:\users\90531\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.7
    Uninstalling nltk-3.7:
      Successfully uninstalled nltk-3.7
Successfully installed nltk-3.9.2 textblob-0.19.0

In [119]:
import textblob

In [120]:
from textblob import TextBlob

In [ ]:
TextBlob(d_mdf["stories"][1]).words

In [ ]:
d_mdf["stories"].apply(lambda x: TextBlob(x).words)

In [124]:
# Stemming -> bir kelimeyi köküne indirgemek.

In [125]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [126]:
type(d_mdf)

pandas.core.series.Series

In [131]:
d_mdf = pd.DataFrame(d_mdf, columns= ["stories"])
d_mdf["stories"].apply(lambda x: " ".join([st.stem(i) for i in x.split()] ))

1             scandal bohemia
2                     league2
3               case ident 33
4     boscomb valley mystery4
5            five orang pips1
6               man twist lip
7      adventur blue carbuncl
8        adventur speckl band
9        adventur engin thumb
10     adventur nobl bachelor
11     adventur beryl coronet
12            adventur copper
Name: stories, dtype: object

In [132]:
# Lemmazation -> daha çok tercih edilen bir yöntem

In [134]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\90531\AppData\Roaming\nltk_data...

True

In [ ]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))